#Librerias

Las librerías que van a ser utilizadas en el proyecto.

In [6]:
# data load and manipulation
from google.colab import files
import io
# dataframes library
import pandas as pd
# visualization 
import matplotlib.pyplot as plt
import seaborn as sns
# basic operations
import numpy as np
import itertools

# Carga de datos
Seleccionamos el archivo que vamos a utilizar como dataset.

In [23]:
from google.colab import files
archive = files.upload()

Saving dengue_features_train.csv to dengue_features_train (1).csv

Lectura del archivo CSV y carga de datos

In [24]:
df = pd.read_csv("dengue_features_train.csv", sep=",")
df

     city  year  ...  station_min_temp_c station_precip_mm
0      sj  1990  ...                20.0              16.0
1      sj  1990  ...                22.2               8.6
2      sj  1990  ...                22.8              41.4
3      sj  1990  ...                23.3               4.0
4      sj  1990  ...                23.9               5.8
...   ...   ...  ...                 ...               ...
1451   iq  2010  ...                22.4              27.0
1452   iq  2010  ...                21.7              36.6
1453   iq  2010  ...                19.2               7.4
1454   iq  2010  ...                21.0              16.0
1455   iq  2010  ...                22.2              20.4

[1456 rows x 24 columns]

Extracción de los datos asignados

In [48]:
#Look for those rows that has a value between 1992 and 1998 on the field 'year' 
#And make sure that the value in the 'city' field is 'sj'
data = df[df['year'].between(1992,1998)][df['city'].str.contains('sj')]
data.describe()

              year  weekofyear  ...  station_min_temp_c  station_precip_mm
count   364.000000  364.000000  ...          361.000000         361.000000
mean   1995.000000   26.502747  ...           22.640166          26.332964
std       2.002753   15.033754  ...            1.436071          30.184534
min    1992.000000    1.000000  ...           18.900000           0.000000
25%    1993.000000   13.750000  ...           21.700000           6.700000
50%    1995.000000   26.500000  ...           22.800000          16.900000
75%    1997.000000   39.250000  ...           23.900000          35.600000
max    1998.000000   53.000000  ...           25.600000         305.900000

[8 rows x 22 columns]